@font-face {
  font-family: 'myFont';
  src: url('CHEQ_TT.ttf');
}
	
.chess {
  width: 100%;
}

.chess div {
  width: 10vw;
  height: 10vw;
  font-family: myFont;
  font-size: 10vw;
}
.colore1 {
  background-color: white;
}

.colore2 {
  background-color: #ffbf18;
}

.bordo {
  background-color: red;
  width: 2vw;
}

.bordo_orizz {
  background-color: red;
  height: 2vw;
}

.pezzo1 {
  color: black;
}

.pezzo2 {
  color: blue;
}

.standard {
  color: black;
 }

.partenza {
   background-color: #F88017;
}

.arrivo {
   background-color: #F88017;
}

.conferma {
    width: 20%;
    height: 8vh;
    margin: 2vh auto;
    background-color: black;
}

table {
   border-collapse: collapse;
}

td {
    padding: 0;
}
