body {
  background-color: black;
  overflow: hidden;
}

@font-face {
  font-family: 'myFont';
  src: url('CHEQ_TT.ttf');
}
	
.chess {
  width: 840px;
  height: 840px;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.chess div {
  height: 12vw;
  font-family: myFont;
  font-size: 12vw;
  text-align: center;
  line-height: 12vw;
}

.colore1 {
  background-color: #2F2F2F;
}

.colore2 {
  background-color: black;
}

.bordo {
  background-color: #808080;
  width: 1vw;
}

.bordo_orizz {
  background-color: #808080;
  height: 1vw;
}

.pezzo1 {
  color: red;
}

.pezzo2 {
  color: #400080;
}

.standard {
  color: black;
 }

.partenza {
    width: 100%;
    background-image: radial-gradient(transparent, transparent, transparent, transparent, transparent, transparent, white, white, white, white);
}

.arrivo {
   width: 100%;
   background-image: radial-gradient(white, white, white, white, white, transparent, transparent, transparent, transparent, transparent);
}

.conferma {
    width: 10%;
    height: 6vh;
    margin: 3vh auto;
    background-color: white;
}

.conferma:hover {background-color: yellow;}

table {
   border-collapse: collapse;
}

td {
    padding: 0;
}
